.row{
    width: 850px; height: 600px;
    border: 1px solid black;
    background-color: rgb(205, 167, 241);
    display: flex;
   justify-content: flex-end ;

}
.col{
    width: 250px;height: 200px;
    border: 1px solid black;
    
}
.a1{
    background-color: brown;
    }
.a2{
    background-color: coral;
    flex:1;}
.a3{
    background-color: rgb(37, 119, 37);
    
}
header{
    width: 100px; height: 50px;
    background-color: darkgrey;
    border: 1px solid black;
}
header a{
    padding: 20px;
    text-decoration: none;
}
a:hover{
    color: red;
}
